server:
  addr: upstream.irc.net
  port: 6697
  ssl: yes
  reconnectdelay: 30
link: 
  name: rserv.irc.net
  serverid: 0RS
  description: Ruby Services
  protocol: ts6
  sendpassword: password-here
  recvpassword: password-here
channels:
  - opers
plugins:
  - none  
